<!doctype html>
<html ng-app="iTimeSheet">
<head>
    <title>iTimeSheet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height"/>

    <script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.3.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/jw-jqm-cal.css"/>
    <link rel="stylesheet" type="text/css" href="css/mobiscroll.custom-2.6.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>

    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.mobile-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/angular-1.0.8.min.js"></script>
    <script type="text/javascript" src="js/jquery.i18n.min.js"></script>
    <script type="text/javascript" src="js/jquery.swipeButton-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/i18n_fr.js"></script>
    <script type="text/javascript" src="js/i18n_en.js"></script>
    <script type="text/javascript" src="js/date-fr-FR.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/jw-jqm-cal.js"></script>
    <script type='application/javascript' src='js/fastclick.min.js'></script>
    <script type="text/javascript" src="js/mobiscroll.custom-2.6.2.min.js"></script>

    <script src="js/report.js"></script>
    <script src="js/components.js"></script>
</head>
<body>
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- CALENDAR -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<div data-role="page" id="viewCalendar">
    <div data-role="header" data-theme="b">
        <a href="#" id="actionToday" data-role="button">
            <div id="lblViewCalendarToday">Today</div>
        </a>

        <h1>
            <div id="lblViewCalendarTitle">Calendar</div>
        </h1>
        <a href="#viewAddShift" id="actionAddShift" data-transition="slideup" data-icon="nf-plus" data-iconpos="notext"
           data-role="button">
            <div id="lblViewCalendarAdd">Add</div>
        </a>
    </div>

    <div data-role="content">
        <div id="calendar"></div>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="b">
        <div class="myNavBar" data-role="navbar" data-iconpos="top">
            <ul class="">
                <li><a href="#viewCalendar" data-transition="none" data-icon="custom-calendar"
                       class="ui-btn-active ui-state-persist custom-calendar">
                    <div id="lblViewCalendarFooterCalendar">Calendar</div>
                </a></li>
                <li id="actionCalendarViewReport"><a href="#viewReport" class="custom-report" data-transition="none"
                                                     data-icon="custom-report">
                    <div id="lblViewCalendarFooterReport">Report</div>
                </a>
                </li>
                <li><a href="#viewSettings" class="custom-settings" data-transition="none" data-icon="custom-settings">
                    <div id="lblViewCalendarFooterSettings">Settings</div>
                </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- END CALENDAR -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->

<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- ADD SHIFT -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<div data-role="page" id="viewAddShift">
    <div data-role="header" data-position="fixed" data-theme="b">
        <a href="#viewCalendar" data-transition="slidedown" data-role="button"><span id="lblViewAddShiftCancel">Cancel</span></a>

        <h1 id="lblViewAddShiftTitle">Add shift</h1>
        <a href="#" id="actionDoneAddShift" data-transition="slidedown" data-role="button"><span id="lblViewAddShiftDone">Done</span></a>
    </div>

    <div data-role="content" class="content">
        <ul data-role="listview" data-inset="true">
            <li data-icon="nf-arrow-r" id="actionEditDateShift"><a href="#viewEditDateShift" data-transition="slide"><span id="lblViewAddShiftDate">Date</span>
                <div id="lblDateShift" style="float:right;font-weight:normal;color:#2373a5;"></div>
            </a></li>
        </ul>

        <div class="text" id="lblViewAddShiftMorning">Morning</div>
        <ul data-role="listview" data-inset="true" style="margin-top:5px;">
            <li data-icon="nf-arrow-r"><a href="#viewEditMorningShift" data-transition="slide"
                                          id="actionEditMorningShift">
                <div><span id="lblViewAddShiftAMStarts">Starts</span> <span id="lblBeginAMShift" style="float:right;font-weight:normal;color:#2373a5;"></span></div>
                <div><span id="lblViewAddShiftAMEnds">Ends</span> <span id="lblEndAMShift" style="float:right;font-weight:normal;color:#2373a5;"></span></div>
            </a></li>
        </ul>

        <div class="text" id="lblViewAddShiftAfternoon">Afternoon</div>
        <ul data-role="listview" data-inset="true" style="margin-top:5px;">
            <li data-icon="nf-arrow-r"><a href="#viewEditAfternoonShift" data-transition="slide"
                                          id="actionEditAfternoonShift">
                <div><span id="lblViewAddShiftPMStarts">Starts</span> <span id="lblBeginPMShift" style="float:right;font-weight:normal;color:#2373a5;"></span></div>
                <div><span id="lblViewAddShiftPMEnds">Ends</span> <span id="lblEndPMShift" style="float:right;font-weight:normal;color:#2373a5;"></span></div>
            </a></li>
        </ul>
    </div>
</div>

<div data-role="page" id="viewEditDateShift">
    <div data-role="header" data-position="fixed" data-theme="b">
        <a href="#viewAddShift" data-direction="reverse" data-transition="slide" data-role="button"><span id="lblViewEditShiftCancel">Cancel</span></a>

        <h1 id="lblViewEditShiftTitle">Date</h1>
        <a href="#viewAddShift" id="actionDoneDateShift" data-direction="reverse" data-transition="slide"
           data-role="button"><span id="lblViewEditShiftDone">Done</span></a>
    </div>

    <div data-role="content" class="content">
        <ul data-role="listview" data-inset="true">
            <li id="itemEditDateShift"><span id="lblViewEditShiftDate">Date</span>
                <div id="lblEditDateShift" style="float:right;font-weight:normal;color:#2373a5;"></div>
            </li>
        </ul>
    </div>

    <div data-role="footer" data-id="mainFooter" data-position="fixed">
        <div style="text-align: center;">
            <input type="hidden" name="inputDateShift" id="inputDateShift"/>
        </div>
    </div>
</div>

<div data-role="page" id="viewEditMorningShift">
    <div data-role="header" data-position="fixed" data-theme="b">
        <a href="#viewAddShift" data-direction="reverse" data-transition="slide" data-role="button"><span id="lblViewEditMorningCancel">Cancel</span></a>

        <h1 id="lblViewEditMorningTitle">Morning</h1>
        <a href="#" id="actionDoneMorningShift" data-direction="reverse" data-transition="slide"
           data-role="button"><span id="lblViewEditMorningDone">Done</span></a>
    </div>

    <div data-role="content" class="content">
        <ul data-role="listview" data-inset="true">
            <li id="itemEditBeginAMShift"><span id="lblViewEditMorningStarts">Starts</span>
                <div id="lblEditBeginAMShift" style="float:right;font-weight:normal;color:#2373a5;"></div>
            </li>
            <li id="itemEditEndAMShift"><span id="lblViewEditMorningEnds">Ends</span>
                <div id="lblEditEndAMShift" style="float:right;font-weight:normal;color:#2373a5;"></div>
            </li>
        </ul>
        <div style="text-align:center">
            <label for="sliderWorkedMorningShift"><span id="lblViewEditMorningWorked">Worked?</span></label>
            <select id="sliderWorkedMorningShift" data-role="slider" data-mini="false">
                <option value="no">No</option>
                <option value="yes" selected>Yes</option>
            </select>
        </div>
    </div>

    <div data-role="footer" data-id="mainFooter" data-position="fixed">
        <div style="text-align: center;">
            <input type="hidden" name="inputBeginAMShift" id="inputBeginAMShift"/>
            <input type="hidden" name="inputEndAMShift" id="inputEndAMShift"/>
        </div>
    </div>
</div>

<div data-role="page" id="viewEditAfternoonShift">
    <div data-role="header" data-position="fixed" data-theme="b">
        <a href="#viewAddShift" data-direction="reverse" data-transition="slide" data-role="button"><span id="lblViewEditAfternoonCancel">Cancel</span></a>

        <h1 id="lblViewEditAfternoonTitle">Afternoon</h1>
        <a href="#" id="actionDoneAfternoonShift" data-direction="reverse" data-transition="slide"
           data-role="button"><span id="lblViewEditAfternoonDone">Done</span></a>
    </div>

    <div data-role="content" class="content">
        <ul data-role="listview" data-inset="true">
            <li id="itemEditBeginPMShift"><span id="lblViewEditAfternoonStarts">Starts</span>
                <div id="lblEditBeginPMShift" style="float:right;font-weight:normal;color:#2373a5;"></div>
            </li>
            <li id="itemEditEndPMShift"><span id="lblViewEditAfternoonEnds">Ends</span>
                <div id="lblEditEndPMShift" style="float:right;font-weight:normal;color:#2373a5;"></div>
            </li>
        </ul>
        <div style="text-align:center">
            <label for="sliderWorkedAfternoonShift"><span id="lblViewEditAfternoonWorked">Worked?</span></label>
            <select id="sliderWorkedAfternoonShift" data-role="slider" data-mini="false">
                <option value="no">No</option>
                <option value="yes" selected>Yes</option>
            </select>
        </div>
    </div>

    <div data-role="footer" data-id="mainFooter" data-position="fixed">
        <div style="text-align: center;">
            <input type="hidden" name="inputBeginPMShift" id="inputBeginPMShift"/>
            <input type="hidden" name="inputEndPMShift" id="inputEndPMShift"/>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- END ADD SHIFT -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->

<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- REPORT -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<div data-role="page" id="viewReport" ng-controller="ReportCtrl">
    <div data-role="header" data-position="fixed" data-theme="b">
        <h1>
            <div id="lblViewReportTitle">Reports</div>
        </h1>
        <div data-role="navbar">
            <ul>
                <li id="itemReportWeekly"><a href="#" id="linkReportWeekly" ng-click="reportWeekly()"
                                             data-role="button"><span id="lblViewReportWeekly">Weekly</span></a></li>
                <li id="itemReportMonthly"><a href="#" id="linkReportMonthly" ng-click="reportMonthly()"
                                              data-role="button"><span id="lblViewReportMonthly">Monthly</span></a></li>
                <li id="itemReportCustom"><a href="#" id="linkReportCustom" data-role="button"><span id="lblViewReportCustom">Custom</span></a></li>
            </ul>
        </div>
    </div>

    <div data-role="content" class="content">
        <div id="viewReportDetail">
            <ul id="reportListview" data-role="listview" class="ui-listview">
                <div ng-repeat="report in reports">
                    <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">
                        {{report.date}}
                    </li>
                    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div"
                        data-iconpos="right" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-d">
                        <report-detail report="report"/>
                    </li>
                </div>
            </ul>
        </div>

        <div id="viewReportCustom">
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="horizontal" style="text-align: center;">
                    <div class="text" id="lblViewReportCustomFrom">From</div>
                    <select name="report-select-year-from" id="report-select-year-from" data-mini="true" ng-model="selectedYearFrom" ng-options="val for val in getYears()">
                    </select>
                    <select name="report-select-week-from" id="report-select-week-from" data-mini="true" ng-model="selectedWeekFrom" ng-options="val for val in getWeeksFirstDay()">
                    </select>
                </fieldset>
                <br />
                <fieldset data-role="controlgroup" data-type="horizontal" style="text-align: center;">
                    <div class="text" id="lblViewReportCustomTo">To</div>
                    <select name="report-select-year-to" id="report-select-year-to" data-mini="true" ng-model="selectedYearTo" ng-options="val for val in getYears()">
                    </select>
                    <select name="report-select-week-to" id="report-select-week-to" data-mini="true" ng-model="selectedWeekTo" ng-options="val for val in getWeeksLastDay()">
                    </select>
                </fieldset>
                <br />
                <div align="center"><a href="#" ng-click="getReportCustom();" data-mini="true" data-role="button" data-inline="true" data-theme="b"><span id="lblBtnReportCustom">Calculate</span></a></div>
            </div>

            <div style="margin-top:20px;">
                <ul data-role="listview" data-inset="true" style="margin-top:5px;">
                    <li data-icon="nf-arrow-r">
                        <report-detail report="reportCustom"/>
                    </li>
                </ul>
            </div>
        </div>

        <div id="viewReportSummary">
            <div style="margin-top:20px;">
                <div class="text" id="lblViewReportThisWeek">This week</div>
                <ul id="reportSummaryWeekListview" data-role="listview" data-inset="true" style="margin-top:5px;">
                    <li data-icon="nf-arrow-r">
                        <report-detail report="reportsWeekly"/>
                    </li>
                </ul>
            </div>

            <div style="margin-top:20px;">
                <div class="text" id="lblViewReportThisMonth">This month</div>
                <ul id="reportSummaryMonthListview" data-role="listview" data-inset="true" style="margin-top:5px;">
                    <li data-icon="nf-arrow-r">
                        <report-detail report="reportsMonthly"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="b">
        <div class="myNavBar" data-role="navbar" data-iconpos="top">
            <ul class="">
                <li><a href="#viewCalendar" class="custom-calendar" data-transition="none" data-icon="custom-calendar">
                    <div id="lblViewReportFooterCalendar">Calendar</div>
                </a>
                </li>
                <li><a href="#viewReport" id="actionReportViewReport" ng-click="reportSummary()" data-transition="none"
                       data-icon="custom-report" class="ui-btn-active ui-state-persist custom-report">
                    <div id="lblViewReportFooterReport">Report</div>
                </a></li>
                <li><a href="#viewSettings" class="custom-settings" data-transition="none" data-icon="custom-settings">
                    <div id="lblViewReportFooterSettings">Settings</div>
                </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- END REPORT -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->

<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- SETTING -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<div data-role="page" id="viewSettings">
    <div data-role="header" data-position="fixed" data-theme="b">
        <h1 id="lblViewSettingsTitle">Settings</h1>
    </div>

    <div data-role="content" class="content">
        <ul data-role="listview" data-inset="true">
            <li data-icon="nf-arrow-r"><a href="#viewMealVoucher" data-transition="slide"
                                          id="actionSettingsEditMealVoucher"><span id="lblViewSettingsMealVoucher">Meal Voucher</span>

                <div id="lblSettingsMealVoucher" style="float:right;font-weight:normal;color:#2373a5;"></div>
            </a></li>
            <li data-icon="false" id="actionSettingsEditHourlyRate"><a href="#">
                <div style="overflow:hidden;">
                    <div style="float:left;height:20px;" id="lblViewSettingsHourlyRate">
                        Hourly Rate
                    </div>
                    <div style="float:right;height:20px;">
                        <input type="number" id="inputSettingsHourlyRate" data-clear-btn="false" step="0.01"
                               pattern="[0-9.]*" class="ui-input-listview" data-mini="true"/>
                    </div>
                </div>
            </a></li>
            <li data-icon="nf-arrow-r"><a href="#viewDevise" data-transition="slide" id="actionSettingsEditDevise"><span id="lblViewSettingsDevise">Devise</span>
                <div id="lblSettingsDevise" style="float:right;font-weight:normal;color:#2373a5;"></div>
            </a></li>
            <li data-icon="nf-arrow-r"><a href="#viewExtraHoursPolicy" data-transition="slide"
                                          id="actionSettingsEditExtraHoursPolicy"><span id="lblViewSettingsExtraHoursPolicy">Extra Hours Policy</span></a></li>
        </ul>
        <ul data-role="listview" data-inset="true">
            <li data-icon="nf-arrow-r"><a href="#viewLanguage" data-transition="slide"
                                          id="actionSettingsEditLanguage"><span id="lblViewSettingsLanguage">Language</span>
                <div id="lblSettingsLanguage" style="float:right;font-weight:normal;color:#2373a5;"></div>
            </a></li>
        </ul>
        <ul data-role="listview" data-inset="true">
            <li data-icon="false"><a href="#"><span id="lblViewSettingsVersion">Version</span>
                <div style="float:right;font-weight:normal;color:#2373a5;">1.6</div>
            </a></li>
        </ul>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="b">
        <div class="myNavBar" data-role="navbar" data-iconpos="top">
            <ul class="">
                <li><a href="#viewCalendar" class="custom-calendar" data-transition="none" data-icon="custom-calendar">
                    <div id="lblViewSettingsFooterCalendar">Calendar</div>
                </a>
                </li>
                <li><a href="#viewReport" id="actionSettingsViewReport" class="custom-report" data-transition="none"
                       data-icon="custom-report">
                    <div id="lblViewSettingsFooterReport">Report</div>
                </a>
                </li>
                <li><a href="#viewSettings" data-transition="none" data-icon="custom-settings"
                       class="ui-btn-active ui-state-persist custom-settings">
                    <div id="lblViewSettingsFooterSettings">Settings</div>
                </a></li>
            </ul>
        </div>
    </div>
</div>

<div data-role="page" id="viewLanguage">
    <div data-role="header" data-position="fixed" data-theme="b">
        <a href="#viewSettings" data-direction="reverse" data-transition="slide" data-role="button">Back</a>

        <h1 id="lblViewLanguageTitle">Language</h1>
    </div>

    <div data-role="content" class="content">
        <div class="myCheckRadio" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-iconpos="right">
                <input type="radio" name="radioLang" id="radioLangEn" value="en"/>
                <input type="radio" name="radioLang" id="radioLangFr" value="fr"/>
                <label for="radioLangEn">English</label>
                <label for="radioLangFr">French</label>
            </fieldset>
        </div>
    </div>
</div>

<div data-role="page" id="viewMealVoucher">
    <div data-role="header" data-position="fixed" data-theme="b">
        <a href="#viewSettings" data-direction="reverse" data-transition="slide" data-role="button">Back</a>

        <h1 id="lblViewMealVoucherTitle">Meal Voucher</h1>
    </div>

    <div data-role="content" class="content">
        <div class="myCheckRadio" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-iconpos="right">
                <input type="radio" name="radioMealVoucher" id="radioMealVoucher15" value="15"/>
                <input type="radio" name="radioMealVoucher" id="radioMealVoucher30" value="30"/>
                <input type="radio" name="radioMealVoucher" id="radioMealVoucher45" value="45"/>
                <input type="radio" name="radioMealVoucher" id="radioMealVoucher60" value="60"/>
                <label for="radioMealVoucher15">&lt; 15 minutes</label>
                <label for="radioMealVoucher30">&lt; 30 minutes</label>
                <label for="radioMealVoucher45">&lt; 45 minutes</label>
                <label for="radioMealVoucher60">&lt; 60 minutes</label>
            </fieldset>
        </div>
    </div>
</div>

<div data-role="page" id="viewDevise">
    <div data-role="header" data-position="fixed" data-theme="b">
        <a href="#viewSettings" data-direction="reverse" data-transition="slide" data-role="button">Back</a>

        <h1 id="lblViewDeviseTitle">Devise</h1>
    </div>

    <div data-role="content" class="content">
        <div class="myCheckRadio" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-iconpos="right">
                <input type="radio" name="radioDevise" id="radioDeviseEuro" value="euro"/>
                <input type="radio" name="radioDevise" id="radioDevisePound" value="pound"/>
                <input type="radio" name="radioDevise" id="radioDeviseDollar" value="dollar"/>
                <input type="radio" name="radioDevise" id="radioDeviseYen" value="yen"/>
                <label for="radioDeviseEuro">€ (Euro)</label>
                <label for="radioDevisePound">£ (Pound)</label>
                <label for="radioDeviseDollar">$ (Dollar)</label>
                <label for="radioDeviseYen">¥ (Yen/Yuan)</label>
            </fieldset>
        </div>
    </div>
</div>

<div data-role="page" id="viewExtraHoursPolicy">
    <div data-role="header" data-position="fixed" data-theme="b">
        <a href="#viewSettings" id="backExtraHoursPolicy" data-direction="reverse" data-transition="slide"
           data-role="button">Back</a>

        <h1 id="lblViewExtraHoursPolicyTitle">Extra Hours Policy</h1>
    </div>

    <div data-role="content" class="content">
        <div data-role="fieldcontain">
            <div data-role="fieldcontain">
                <label for="selectLevel1"><span class="text" id="lblViewExtraHoursPolicyLevel1">Level 1</span></label>
                <select name="selectLevel1" id="selectLevel1" data-mini="true">
                    <option value="100">100%</option>
                </select>
            </div>
        </div>
        <div data-role="fieldcontain">
            <label for="selectLevel2"><span class="text" id="lblViewExtraHoursPolicyLevel2">Level 2</span></label>

            <div data-role="rangeslider" data-mini="true">
                <input type="range" name="rangeMinLevel2" id="rangeMinLevel2" style="color: #2373a5" min="35" max="50">
                <input type="range" name="rangeMaxLevel2" id="rangeMaxLevel2" style="color: #2373a5" min="35" max="50">
            </div>
            <div data-role="fieldcontain">
                <select name="selectLevel2" id="selectLevel2" data-mini="true">
                    <option value="100">100%</option>
                    <option value="125">125%</option>
                    <option value="150">150%</option>
                    <option value="175">175%</option>
                    <option value="200">200%</option>
                </select>
            </div>
        </div>
        <div data-role="fieldcontain">
            <div data-role="fieldcontain">
                <label for="selectLevel3"><span class="text" id="lblViewExtraHoursPolicyLevel3">Level 3</span></label>
                <select name="selectLevel3" id="selectLevel3" data-mini="true">
                    <option value="100">100%</option>
                    <option value="125">125%</option>
                    <option value="150">150%</option>
                    <option value="175">175%</option>
                    <option value="200">200%</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- END SETTINGS -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!! -->
</body>
</html>